*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100vw;
    height: 100vh;
}

button, input{
    outline: none;
    box-shadow: none;
    border: none;
}

input{
    background-color: #fff !important;
}